/* ********* */
/* @VARIABLES */
/* ********* */

body{
    padding: 0;
    margin: 0;
}

$coloresCaja: (
    c1: #B6E4EB,
    c2: #D9F1F2,
    c3: #FBDEE2,
    c4: #FEAFAB,
    c5: #FBD5B0,
    c6: #FCF1D7
);




@each $red, $color in $coloresCaja {
    
    .#{$red}{
        background-color: $color;
    }

    .#{$red}>.nombreColor::before{
        content: "#{$color}";
    }
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows:100px 350px 350px;
    grid-gap: 50px;
    padding: 0 250px;
    background-color: #E8E6E0;
    text-align: center;
}

.titulo{
    grid-column: 1/4;
    grid-row: 1;
    color: #868686;
    margin: auto auto;
    padding: 0;
}

.caja{
    width: 95%;
    height: 270px;
    margin: auto ;
    border-top: 15px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nombreColor{
    background-color: white;
    padding: 18px;
}

.nombreColor{
    color: #7E7E7E;
}

